.MuiTablePagination-selectLabel{
  display: none;
}

.css-16c50h-MuiInputBase-root-MuiTablePagination-select{
  display: none;
}

.css-194a1fa-MuiSelect-select-MuiInputBase-input{
  display: none;
}

.css-16c50h-MuiInputBase-root-MuiTablePagination-select{
  display: none !important;
}